#screenTable {
  display:block;
  margin: auto;

  width: 800px;
  height: 600px;

  text-align: center;

  border: 1px solid black;
  border-collapse: collapse;

  background-color: #c8cbcc;
}

td {
  width: 50px;
  height: 37.5px;
  border: 1px solid black;
}

.hoverTD {
  background-color: red;
}
