#container {
  display:block;
  margin: auto;

  width: 400px;
  height: 400px;

  border: 1px solid black;
  border-collapse: collapse;

  background-color: #c8cbcc;
}

#screenTable {
  display:block;
  margin: auto;

  width: 400px;
  height: 400px;

  border: 1px solid black;
  border-collapse: collapse;

  background-color: #c8cbcc;
}

td {
  width: auto;
  height: auto;
  border: 1px solid black;
}


.hoverTD {
  background-color: #36454f;
}

button {
  display: inline-block;
  margin: 5% 45% 10px 45%;
  width: 10%;
  border: 1px solid black;
  padding: 10px;
}

.resetTable {
  background-color: #c8cbcc;
}
